.carousel-container {
  position: absolute;
  top: 50%;
  right: -50px; 
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  height: 80%; 
  width: 50%;
  overflow: hidden;
}

.carousel {
  display: flex;
  flex-direction: row;
  gap: 20px;
  animation: slide-horizontal 40s infinite;
}

.carousel-item {
  text-align: center;
  min-width: 200px;
}

.carousel-item img {
  width: 100%;
  height: 200px; 
  border-radius: 10px;
  object-fit: cover; 
}

.carousel-item p {
  font-family: 'Playwrite NG Modern', cursive;
  color: white;
  font-size: 18px;
}

@keyframes slide-horizontal {
  0% { transform: translateX(0); }
  25% { transform: translateX(-100%); }
  50% { transform: translateX(-200%); }
  75% { transform: translateX(-300%); }
  100% { transform: translateX(0); }
}
